body{
  background-color: #ddd;
}

#tabs{
  background-color: #f6f6f6;
  padding: 10px;
  margin-top: 20px;
  border-radius: 3px 3px 0 0;
}
#tabs .tab a.active{
    background-color: #80db01;
    color: #ffffff;
}

#tabs .tab{
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

#tabs .tab a{
  color: #80bd01;
  font-size: 14px;
  text-decoration: none;
}

#topics{
  list-style: none;
  background-color: white;
  border-radius: 0 0 3px 3px;
  margin-bottom: 20px;
}

.topic{
  padding: 10px;
  border-bottom: 1px solid #ededed;
}

.topicCreaterAvator img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.topicViewNumber{
  display:inline-block;
  font-size: 12px;
  color: #b4b4b4;
  line-height: 30px;
  width: 70px;
  text-align: center;
}

.tag{
  display: inline-block;
  font-size: 12px;
  background-color: #80bd01;
  border-radius: 3px;
  padding: 2px 4px;
  color: #fff;
}

.title{
  line-height: 30px;
  font-size: 16px;
}

.lastReplyTime{
  float: right;
  line-height: 30px;
  font-size: 12px;
  color:#778087;
}
