*{
  margin: 0;
  padding: 0;
}
.container{
  position: relative;
  width: 1200px;
  margin:0 auto;
}

#header{
  background: #444;
  height: 50px;
}

#logo{
  position: absolute;
  font-size: 28px;
  color: white;
  font-weight: bold;
  line-height: 50px;
  width: auto;
  cursor: pointer;
}

#nav {
  float: right;
  list-style: none;
}

.nav-item{
  position: relative;
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
}

.nav-item a{
  text-decoration: none;
  color: #ccc;
  font-size: 13px;
  transition: color .3s;
}

.nav-item a:hover{
  color: yellow;
}

#user-login-dropdown{
  /* display: none; */
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #aaa;
  z-index: 9999;
}

.not-login{
  width: 300px;
  padding: 20px;
}

#input-token{
  width: 160px;
  margin-right: 10px;
  padding: 10px;
}

#login-button{
  width: 40px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #ededed;
  border-radius: 3px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.login-user-info{
  width: 200px;
  text-align: center;
  padding: 10px;
}

.login-user-info p{
  margin: 10px;
  color: #aaa;
}

.login-user-avatar{
  height: 100px;
}

.login-user-avatar img{
  height: 100%;
}

#footer{
  height: 100px;
  background-color: #eaeaea;
  text-align: center;
}

.site-info{
  display: inline-block;
  line-height: 100px;
}
