<div id="header">
  <div class="container">
      <div id="logo"></div>
      <div id="nav">
        <ul>
          <li class="nav-item">首页</li>
          <li class="nav-item">新手入门</li>
          <li class="nav-item">API</li>
          <li class="nav-item">关于</li>
          <li class="nav-item">注册</li>
          <li class="nav-item">登陆</li>
        </ul>
      </div>
  </div>
</div>
