<div id="header">
  <div class="container">
      <div id="logo">CNode</div>
      <div id="nav">
        <ul>
          <li class="nav-item">
            <a href="#">首页</a>
          </li>
          <li class="nav-item">
            <a href="#">新手入门</a>
          </li>
          <li class="nav-item">
            <a href="#">API</a>
          </li>
          <li class="nav-item">
            <a href="#">关于</a>
          </li>
          <li class="nav-item">
            <a href="#">注册</a>
          </li>
          <li class="nav-item">
            <a href="#">登陆</a>
          </li>
        </ul>
      </div>
  </div>
</div>
