<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% include "./header.njk" %}

    {% block body %}
    {% endblock %}

    {% include "./footer.njk" %}
  </body>

  <script src="/javascripts/polyfill.js"></script>
  <script src="/javascripts/common.js"></script>
  <script type="text/javascript">
    console.log('data:',{{data | dump | safe}});
    console.log('user:',{{user | dump | safe}});
  </script>

  {% block script %}
  {% endblock %}

</html>
